<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="../static/navi.css"></style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>  
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">設定</a>
  <a href="#">河本竣頌さん</a>
  <a href="#">曽根田悠介さん</a>
  <a href="#">玉井あゆみさん</a>
  <a href="#">鈴木佑亮さん</a>

</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <div class="container">
      <canvas id="stage1"></canvas>
      <canvas id="stage2"></canvas>
      <canvas id="stage3"></canvas>
    </div>
</div>

<script src="../static/navi.js"></script>   
<script src="../static/graph.js"></script>
</body>
</html> 
