<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>おしえてわんこ</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/user.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="content">
        <div class="header">
            <div class="level">
                Lv.4
            </div>
        </div>
        <div class="speech_area">
            <img src="./assets/image/balloon.png" />
            <div class="text_area">
                <div class="text">今日はお仕事どうだったわん？</div>
            </div>
        </div>
        <div class="avator_area">
            <img class="avator" src="./assets/image/waiting.svg" />
        </div>
        <div class="choice_area">
            <div class="item good"></div>
            <div class="item normal"></div>
            <div class="item angry"></div>
            <i id="answerHeart"></i>
            <i id="answerTint"></i>            
        </div>
        </div>
        <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="./assets/js/user.js"></script>
        <script type="text/javascript" src="./assets/js/questions.js"></script>
        
    </body>
</html>
