<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>おしえてわんこ</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/user.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="content">
        <div class="header">
            <div class="level">
                Lv.4
            </div>
        </div>
        <div class="speech_area">
            <img src="./assets/image/balloon.png" />
            <div class="text_area">
                <div class="text">今日はお仕事どうだったわん？</div>
            </div>
        </div>
        <div class="avator_area">
            <img class="avator" src="./assets/image/dog.gif" />
<!--            <img class="avator" src="images/dog.svg">-->
<!--            <object class="avator" type="image/svg+xml" data="dog.svg" width="200" height="200"></object>-->
        </div>
        <div class="choice_area">
            <div class="item good"></div>
            <div class="item normal"></div>
            <div class="item angly"></div>
        </div>
        </div>
        <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="./assets/js/user.js"></script>
        
    </body>
</html>